@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import 'theme-colors.scss';
@import 'mixins.scss';


*,
*:before,
*:after{
	margin:0;
	padding:0;
	outline:0;
	border:0;
}

body,html{
	height:100%;
}

body{
	background:$theme-ffffff;
	color:$theme-0060a0;
	font-size: 14px;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;

	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;	
}

ul{
	list-style: none;
	li{
		a{
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	}
}

ul.floated-list{
	margin-bottom:0;
	li{
		float: left;
		display:block;
		a{
			display:block;
		}
		ul{
			margin-bottom: 0;
			li{
				float: none;
			}
		}
	}
}

a{
	color:inherit;
	@include transition(all, 0.35s, ease-out);
	&:hover{
		opacity: 0.7;
	}
}
button[type="submit"],
input[type="submit"]{
	@include transition(all, 0.35s, ease-out);
	&:hover{
		opacity: 0.7;
	}
}
img{
	border:0;
}

h1,h2,h3,h4,h5,h6{
	
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
h1{
	font-size: 26px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 22px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
	color: inherit;
}
label{
	font-weight: normal;
}
.font8px{
	font-size: 8px;
}
.font9px{
	font-size: 9px;
}
.font10px{
	font-size: 10px;
}
.font11px{
	font-size: 11px;
}
.font12px{
	font-size: 12px;
}
.font13px{
	font-size: 13px;
}
.font14px{
	font-size: 14px;
}
.font15px{
	font-size: 15px;
}
.font16px{
	font-size: 16px;
}
.bdrs0{
	border-radius: 0;
}
.bdrs5px{
	border-radius: 5px;
}
.bdrs8px{
	border-radius: 8px;
}
.bdrs10px{
	border-radius: 10px;
}
.icon-text{
	margin-right: 8px;
	&.sm{
		margin-right: 4px;
	}
}


.weight-400{
	font-weight: 400;
}
.weight-600{
	font-weight: 600;
}
.weight-700{
	font-weight: 700;
}
.text-center{
	text-align: center;
}
.font-style-italic{
	font-style: italic;
}
.font-style-normal{
	font-style: normal;
}
.clear{
	clear:both;
}
.inline{
	display: inline;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.lowercase{
	text-transform: lowercase;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.div-center{
	display:table;
	margin:0 auto;
}
.fullHeight{
	height:100%;
}
.mytable{
	display: table;
	width: 100%;
	height: 100%;
	
}
.fixed-table-layout{
	table-layout: fixed;
}
.table-cell{
	display:table-cell;
}
.va-middle{
	vertical-align: middle;
}
.va-top{
	vertical-align: top;
}
.va-bottom{
	vertical-align: bottom;
}
.static{
	position: static;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.cover{
	@include coordinates(0,0,0,0);
}
.circle{
	border-radius: 50%;
}
.m0{
	margin:0 !important;
}
.mb-0{
	margin-bottom: 0 !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.mb-40{
	margin-bottom: 40px !important;
}
.mb-50{
	margin-bottom: 50px !important;
}
.mt-0{
	margin-top: 0 !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mt-20{
	margin-top: 20px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.mt-40{
	margin-top: 40px !important;
}
.mt-50{
	margin-top: 50px !important;
}
.my-0{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-10{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.my-20{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.my-30{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}
.my-40{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}
.my-50{
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}
.pb-0{
	padding-bottom: 0 !important;
}
.pb-10{
	padding-bottom: 10px !important;
}
.pb-20{
	padding-bottom: 20px !important;
}
.pb-30{
	padding-bottom: 30px !important;
}
.pb-40{
	padding-bottom: 40px !important;
}
.pb-50{
	padding-bottom: 50px !important;
}
.pt-0{
	padding-top: 0 !important;
}
.pt-10{
	padding-top: 10px !important;
}
.pt-20{
	padding-top: 20px !important;
}
.pt-30{
	padding-top: 30px !important;
}
.pt-40{
	padding-top: 40px !important;
}
.pt-50{
	padding-top: 50px !important;
}
.py-0{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-10{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.py-20{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.py-30{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}
.py-40{
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.py-50{
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.fill{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px; 
}
.col-xs-20 {
	width: 20%;
	float: left; 
}
@media (min-width: 768px) {
	.col-sm-20 {
		width: 20%;
		float: left; 
	} 
}
@media (min-width: 992px) {
	.col-md-20 {
		width: 20%;
		float: left; 
	} 
}
@media (min-width: 1200px) {
	.col-lg-20 {
		width: 20%;
		float: left; 
	} 
}

.fitVid{
	position: relative;
	padding-bottom: 56%;
	height: 0;
	iframe{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
	}
}

// Bootstrap Gutter Changes


.form-control{
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.055);
}
.form-control[type="button"],
.form-control[type="submit"],
.form-control[type="reset"]{
	-webkit-appearance:none;
	cursor:pointer;
}
.form-control::-moz-placeholder {
	color: #838383;	
	opacity: 1;
}
.form-control:-ms-input-placeholder {
	color: #838383;	
}
.form-control::-webkit-input-placeholder {
	color: #838383;	
}
.form-control:focus{
	box-shadow: none;
	border: 1px solid $theme-0060a0 !important;
}
.header{
	text-align: center;
	h1{
		margin: 0;
		font-size: 35px;
		color: $theme-ffffff;
		text-transform: uppercase;
		font-weight: 700;
	}
}
.sec-title {
	h2{
		font-size:35px;
		margin: 0;
		font-weight: 500;
		vertical-align: middle;
		@media  (max-width:767px){
			font-size: 25px;
			padding-right: 0;
			display: block;
			padding-bottom: 10px;
			

		}	
	}
	a{
		font-size: 15px;
		margin-left: 40px;
		font-weight: 700;
		padding: 8px 15px;
		text-decoration: none;
		border-radius: 10px;
		line-height: 1.42857143;
		margin-bottom: 0;
		text-align: center;
		vertical-align: middle;
		
		@media  (max-width:767px){
			display: block;
			margin-left: 0px;
			width: 200px;
			margin: auto;
		}
	}
}
.section-btn{
	text-align: center;
	
	a{
		font-size: 20px;
		font-weight: 500;
		padding: 6px 15px;
		text-decoration: none;
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		line-height: 1.42857143;
		text-align: center;
		vertical-align: middle;
		border-radius: 10px;		


	}
}
.svg-sec-title{
	
	display: table;
	margin: 0 auto;
	@media  (max-width:767px){
		
	}
	.st-img{
		width: 100px;
		display: inline-block;
		vertical-align: bottom;
		@media  (max-width:767px){
			width: 80px;
		}


	}
	.st-font{
		display: inline-block;
		padding-left: 20px;
		h2{

			font-size:35px;
			margin-top: 0;
			margin-bottom: 35px;
			font-weight: 500;
			@media  (max-width:767px){
				font-size: 25px;
				margin-bottom: 30px;
			}

		}
	}

}

.sec-small-table{
	.smt-title{
		text-align: center;
		h3{
			font-size: 20px;
			font-weight: 700;
			margin: 0;

		}
	}
	ul{
		display: table;
		margin: 0 auto;
		.column{
			width: 150px;
			border-right: 1px solid $theme-0060a0;
			&:last-child{
				border-right: none;
			}
			@media  (max-width:767px){
				width: 164px;
				display: table;
				margin: 0 auto;
				border-bottom: 1px solid $theme-0060a0;
				&:nth-child(even){
					border-right:none;
				}
				&:nth-child(3),
				&:last-child{
					border-bottom:none;
				}

			}
			.head{
				margin-top: 40px;
				h4{
					font-size: 20px;
					font-weight: 700;
					margin: 0;
				}
			}
			.disc{

				height: 70px;
				p{
					margin: 0;
					font-size: 20px;
					line-height: 1;
				}
			}
		}
	}
}


.section-table{
	border:none; 
	@media  (max-width:992px){
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;

	}
	
	.table{
		width: 850px;
		margin: 0 auto;
		text-align: center;
		border-collapse: collapse;
		th{
			background-color: $theme-0060a0;
			color: $theme-ffffff;
			padding: 8px;
			
			



		}
		tbody{


			tr{
				font-weight: 700;
				color: $theme-0060a0;
				padding: 8px;
				

				a{
					width: 30px;
					display: block;
					display: table;
					margin: 0 auto;
				}
				
				td{
					border: 1px solid $theme-0060a0;
					padding: 8px;
					line-height: 1.42857143;
					border-spacing:10px;

					.td-spain{
						font-size: 12px;
						padding-left: 20px;
						
					}
				}
				
			}
		}
	}
}



.sec-form{
	display: table;
	margin: 0 auto;
	@media  (max-width:767px){
		text-align: left;

	}
	.table-cell{
		@media  (max-width:992px){
			display: block !important;


		}
	}
	.form-group{
		
		label{
			font-size: 18px;
			text-align: right;
			color: $theme-0060a0;
			text-transform: uppercase;
			font-weight: 700;
			width: 130px;
			padding-right: 30px;
			margin-top: 15px;

			@media  (max-width:992px){
				text-align: left;
				width: 100%;
				

			}


		}
		.form-control{
			border:1px solid $theme-0060a0;
			width: 350px;
			height: 35px;
			margin-top: 15px;
			border-radius: 10px;
			@media  (max-width:767px){
				width: 300px;
				display: block;
				margin-top: 10px;
			}
		}
		.cal-form{
			width: 120px;
			display: inline-block;

			@media  (max-width:992px){
				width: 110px;
				margin-bottom: 15px;
			}
			
			
		}
		.dat-form{
			width: 130px;
			margin-right: 15px;
			display: inline-block;
			margin-top: 5px;
			@media  (max-width:992px){
				width: 100px;
				margin-bottom: 5px;

			}
		}
		.span-class{
			font-size: 15px;
			text-align: center;
			color: $theme-0060a0;
			text-transform: uppercase;
			margin: 0 10px;
		}
		.df-span{
			font-size: 15px;
			text-align: center;
			color: $theme-0060a0;
			text-transform: uppercase;
			display: block;
			font-weight: 500;
			margin-left: -7.5px;
			@media  (max-width:992px){
				text-align: center;
				display: table;
				margin-top: 15px;
				margin-left: 0;
				
			}
		}
		a{
			font-size: 18px;
			font-weight: 500;
			border-radius: 10px;
			border:1px solid $theme-0060a0;
			padding: 3px 15px;
			clear: both;
			text-decoration: none;

			&:hover{
				@include transition(all, 0.50s, ease-out);
				opacity: 1;
				background-color: $theme-0060a0;
				color: $theme-ffffff;


			}
			@media  (max-width:992px){
				
				//margin-top: 15px;
				display: block;

			}

		}

	}
}
.table-row{
	float: right;
}
.date-btn{
	margin-left: 20px;
	@media  (max-width:992px){
		margin-left: 0;


	}
}
.cal-table{
	width: 315px;
	@media  (max-width:992px){
		width: 260px;


	}
}
.float-col{

	@media  (max-width:992px){
		width: 120px;
		float: left;
		
	}
}
.btm-table{
	.bc-val{
		width: 300px;
		@media  (max-width:767px){
			width: 200px;

		}

	}
	.mytable{
		width: 400px;
		margin:  0 auto;
		border:1px solid $theme-0060a0;
		height: 65px;
		@media  (max-width:767px){
			width: 100%;

		}
		.bc-prop{
			text-align: center;
		}
		.table-cell{
			
			p{
				font-size: 20px;
				padding-left: 15px;
				@media  (max-width:767px){
					font-size: 15px;
				}
			}
			span{
				font-size: 14px;

				
			}
			a{
				width: 25px;
				display: block;
				text-align: center;
				margin: 0 auto;
				text-decoration: none;
				svg{
					display: table;
					margin: 0 auto;
				}
			}
		}
	}
}

.bottom-btn{
	text-align: center;
	a{
		font-size: 15px;
		margin-left: 40px;
		font-weight: 700;
		padding: 8px 15px;
		text-decoration: none;
		border-radius: 10px;
		line-height: 1.42857143;
		margin-bottom: 0;
		text-align: center;

		vertical-align: middle;
		
	}
}
.circle-red {
	width: 10px;
	height: 10px;
	@include bdrs(25px);
	background: red;
	margin-right: 5px;
}
.circle-f59a31{
	width: 10px;
	height: 10px;
	@include bdrs(25px);
	background: #f59a31;
	margin-right: 5px;
}
.circle-39b54a{
	width: 10px;
	height: 10px;
	@include bdrs(25px);
	background: #39b54a;
	margin-right: 5px;
}

circle.cls-1{
	fill: #e96624 !important;
}
path.cls-2,
circle.cls-2{
	fill: #0060a0 !important;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1110px;
	}
}

.theme-ffffff-bg{
	background-color: $theme-ffffff !important;
}
.theme-ffffff{
	color: $theme-ffffff !important;
}

.theme-0060a0{
	color: $theme-0060a0 !important;
}
.theme-0060a0-bg{
	background-color: $theme-0060a0 !important;
}
.theme-c1e6fb{
	color: $theme-c1e6fb !important;
}
.theme-c1e6fb-bg{
	background-color: $theme-c1e6fb !important;
}
.theme-e96624{
	color: $theme-e96624 !important;
}
.theme-e96624-bg{
	background-color: $theme-e96624 !important;
}